<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LibraryBlock </title>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/libraryblock.css">
  </head>

  <body>
    <div class="Header">
        <h1 id="Title">LibraryBlock - The Library Blockchain</h1>
    </div>
    <ul class="bar">
        <li class="bar"><a href="/home">Home</a></li>
        <li class="bar"><a href="/checkout">Checkout Book</a></li>
        <li class="bar"><a href="/read">Read Chain</a></li>
        <li class="bar"><a href="/generate">Create Key Pair</a></li>
    </ul>

    <div>
    <br/><br/><br/><br/><br/>
    <h3>Generate Key Pair</h3>
    <br/>
    <form action="/generate" method="post" class="form">
        <label for="privatepass">Password:</label>
        <input type="text" id="privatepass" name="privatepass"><br><br>
        <input type="submit" value="Generate">
    </form> 
    <br/><br/><br/>
    <h3>Public Key</h3>
    <br/>
    <p>{{pub}}</p>
    <br/><br/><br/>
    <h3>Private Key</h3>
    <br/>
    <p>{{pri}}</p>
    <br/><br/><br/><br/><br/><br/><br/>
    </div>

    <div class="Bottom">
      <p>Designed by Ryan Manzie, Shiv Mangal, and Blake Whiting - 2022</p>
    </div>
  </body>
 
</html>