<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LibraryBlock </title>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/libraryblock.css">
    
  </head>

  <body>
    <div class="Header">
        <h1 id="Title">LibraryBlock  - The Library Blockchain</h1>
    </div>
    <ul class="bar">
        <li class="bar"><a href="/home">Home</a></li>
        <li class="bar"><a href="/checkout">Checkout Book</a></li>
        <li class="bar"><a href="/read">Read Chain</a></li>
        <li class="bar"><a href="/generate">Create Key Pair</a></li>
    </ul>
    <br/><br/><br/><br/><br/>
    <h3>Welcome to LibraryBlock, where library information is stored on the Blockchain!</h3><br/>
    <h3>Start by Generating a Key Pair</h3>
    <h3>Then add books in the checkout page using that key.</h3><br/>
    <img src="/static/images/book.png" alt="Image goes here" width="500" height="500">
    <div class="Bottom">
      <p>Designed by Ryan Manzie, Shiv Mangal, and Blake Whiting - 2022</p>
    </div>
  </body>
 
</html>